@import "tailwindcss";


/* إعداد الألوان الأساسية */
:root {
  --foreground: #171717;
}

/* إزالة background من body لنعتمد على Tailwind */
body {
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

/* تطبيق خط الإسكندرية على كل العناصر */
* {
  font-family: var(--font-alexandria), ui-sans-serif, system-ui, sans-serif;
}